.controlPanel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	gap: 12px;
}

.buttonsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
}

.login {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 24px;
	outline: none;
	border: 2px solid #e74c3c;
	border-radius: 8px;
	height: 37px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #e74c3c;
	cursor: pointer;
	background-color: #fff;
	transition: transform 0.2s;
}

.login:hover {
	transform: scale(1.1);
}

.login:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.register {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 24px;
	outline: none;
	border: none;
	border-radius: 8px;
	height: 37px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background-color: #e74c3c;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	transition: transform 0.2s;
}

.register:hover {
	transform: scale(1.1);
}
.register:disabled {
	background-color: #aed2bc;
	color: #444;
	pointer-events: none;
}

.logout {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 24px;
	outline: none;
	border: 2px solid #e74c3c;
	border-radius: 8px;
	height: 37px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #e74c3c;
	cursor: pointer;
	background-color: #fff;
	transition: transform 0.2s;
}

.logout:hover {
	transform: scale(1.1);
}

.logout:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.admin {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 24px;
	outline: none;
	border: none;
	border-radius: 8px;
	height: 37px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	background-color: #e74c3c;
	transition: transform 0.2s;
}

.admin:hover {
	transform: scale(1.1);
}

.admin:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.person {
	width: 23px;
	height: 23px;
	cursor: pointer;
	transition: transform 0.2s;
}

.person:hover {
	transform: scale(1.1);
}

.cart {
	position: relative;
	cursor: pointer;
	transition: transform 0.2s;
}

.cart img {
	width: 40px;
	height: 40px;
}

.cart:hover {
	transform: scale(1.1);
}

.cartCount {
	position: absolute;
	top: 8px;
	right: 2px;
	color: #fff;
	font-weight: 800;
	background-color: #e74c3c;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	text-align: center;
	border-radius: 50%;
	padding: 0;
}

@media (max-width: 796px) {
	.controlPanel {
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.login,
	.register,
	.logout,
	.admin {
		width: 100%;
	}
}
